GtkWindow {
	background-color: @toolbar_gradient_base;
	color: @toolbar_fg_color;
}

GtkViewport {
	background-color: @toolbar_gradient_base;
}

GtkButton {
	-GtkWidget-focus-line-width: 0;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: @transparent;

	box-shadow: none;

	background-image: none;
	background-color: alpha (@theme_base_color, 0.0);

	padding: 2px 4px;

	color: @theme_fg_dark_color;
	text-shadow: 0px 1px @toolbar_shadow_color;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (alpha(#fff, 0.04)),
                                     to   (alpha(#000, 0.06)));
    border-top-color: 		alpha (#000, 0.15);
    border-left-color: 		alpha (#000, 0.20);
    border-right-color: 	alpha (#000, 0.20);
    border-bottom-color: 	alpha (#000, 0.25);
}

.button:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (alpha(#fff, 0.03)),
                                     to   (alpha(#000, 0.08)));

    border-top-color: 		alpha (#000, 0.15);
    border-left-color: 		alpha (#000, 0.20);
    border-right-color: 	alpha (#000, 0.20);
    border-bottom-color: 	alpha (#000, 0.25);

}

.button:active,
.button:active:hover {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                     from (shade(@button_raised_gradient_color_b, 0.90)),
                     to   (shade(@button_raised_gradient_color_a, 0.80)));

    border-width: 1px;
    border-style: solid; 
    border-radius: 0px;
	border-image: 			none;
    border-top-color: 		transparent;
    border-left-color: 		alpha (#fff, 0.01);
    border-right-color: 	alpha (#fff, 0.01);
    border-bottom-color: 	alpha (#fff, 0.05);

    box-shadow: inset  0px  4px alpha(#000, 0.02),
				inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.04),
                inset  3px  0px alpha(#000, 0.02),
                inset  2px  0px alpha(#000, 0.03),
                inset -3px  0px alpha(#000, 0.02),
                inset -2px  0px alpha(#000, 0.03),
                inset  0px -2px alpha(#000, 0.01),
				inset  0px  1px alpha(#000, 0.25),
                inset  1px  0px alpha(#000, 0.16),
                inset -1px  0px alpha(#000, 0.16),
                inset  0px -1px alpha(#000, 0.09);

}

