Source: python3-quickstart
Section: python
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: dh-python, python3-all (>= 3.1.2-7~), debhelper (>= 8.0.0)
X-Python3-Version: >= 3.2
Standards-Version: 3.9.5
Homepage: https://github.com/semplice/quickstart
Vcs-Git: git://github.com/semplice/quickstart.git
Vcs-Browser: https://github.com/semplice/quickstart

Package: python3-quickstart
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-gi, gir1.2-glib-2.0, gir1.2-gtk-3.0
Breaks: ${python3:Breaks}
Description: library to easily and rapidly create graphical applications
 quickstart is a python library that has the aim to ease and reduce
 the work needed to create rich, interactive, GTK3 based graphical
 applications.
